<template name="topBar">
    
    <div class="col-md-9 ">
        <div class="col-md-12 text-center top-bar">
            <div class="col-md-2" ><img class="top-icons" src="icons/02_calendar.png" alt="Calendar" title="Open Calendar"/></div>
             <div class="col-md-2" ><img class="top-icons" src="icons/01_messages.png" alt="Email" title="Contact"/></div>
              <div class="col-md-2" ><img class="top-icons" src="icons/03_photos.png" alt="Gallery" title="Open Gallery"/></div>
             <div class="col-md-2"><img class="top-icons" src="icons/04_maps.png" alt="Map" title="Show Map"/></div>
              <div class="col-md-2"><img class="top-icons" src="icons/07_note.png" alt="Notes" title="Make A Note"/></div>
              <div class="col-md-2"><img class="top-icons" src="icons/guitar.png" alt="Music" title="Play Music"/></div>
            
            
            
            
            
            </div>
        
        {{> mainCanvas}}
    </div>    
    
    
    
    
</template>